<div class="row">
  <div class="col-md-12" ng-repeat="campaigns in campaignsRow">
    <div class="row">
      <div class="col-md-4" ng-repeat="campaign in campaigns">
        <div class="game_item">
          <div class="avatar-image">
            <a target="_blank" ng-href="//market.greedygame.com/play/{{ campaign.key }}">
              <img ng-src="{{ campaign.game_meta.coverimage }}" alt="coverimage" >
            </a>
          </div>
          <h3>{{ campaign.title }} <small>{{ campaign.game_meta.owner }}</small></h3>
            <div class="post-meta-links">
                <ul class="clearfix">
                    <li class="post-view">
                        <span><i class="icon-eye-open"></i> {{ campaign.statistic.views }}</span>
                    </li>
                    <li class="post-view">
                      <span><i class="icon-time"></i> {{ campaign.statistic.duration }}</span>
                    </li>
                    <li class="post-view">
                      <span><i class="icon-star"></i> {{ campaign.average_rating }}</span>
                    </li>                    
                    <li class="post-view">
                      <a target="_blank" ng-href="//market.greedygame.com/play/{{ campaign.key }}">
                        <span><i class="icon-gamepad"></i> Play</span>
                      </a>
                    </li>

                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>